body{
    font-family: Arial, sans-serif;
    background-color: beige;
}

.navbar{
    margin-bottom:30px;
}

.menu{
    text-align:center;
    margin-top:50px;
}

button{
    width:200px;
    padding:10px;
    background:green;
    border:1px solid black;
    color:white;
    cursor:pointer;
    margin:10px;
}

button:hover{
    background:yellow;
    color:black;
}

span{
    font-family:"Times New Roman";
    color:red;
    font-size:12px;
}

.logincontainer{
    width:300px;
    padding:20px;
    background-color:grey;
    border-radius:10px;
    margin:50px auto;
}